* {
    padding: none;
    margin: none;

    scrollbar-width: none;
}

body {
    display: flex;
    flex-direction: row;

    gap: 2em;
}
/*           */
/* SIDEBAR */
/*          */
#side-bar {
    border: solid black 0.3em;

    min-height: 95vh;
    width: 25vw;
}

#profile {
    display: flex;
    flex: column;

    gap: 3vw;

    align-items: center;
}

img#profile-picture {
    height: 5vh;
    width: 3vw;
}

div#projects-section {
    display: flex;
    flex-direction: column;
}

button#add-projects {

    width: 8vw;
}

button#view-projects-button {
    width: 8vw;
}

/*           */
/* MAIN-CONTENT */
/*          */

div#main-content {
    border: solid black 0.3em;

    min-height: 95vh;
    flex-grow: 1;

}
